# Chapter 8
Math operations perform automatic index alignment before proceeding.

When there are duplicates in the indices, index alignment uses the cross product (all possible pairings):

In [12]:
import pandas as pd

s1 = pd.Series([10, 20, 30], index=[1, 2, 2])
s2 = pd.Series([35, 44, 53], index=[2, 2, 4], name="s2")
s1 + s2

1     NaN
2    55.0
2    64.0
2    65.0
2    74.0
4     NaN
dtype: float64

In [13]:
s1.add(s2, fill_value=0)

1    10.0
2    55.0
2    64.0
2    65.0
2    74.0
4    53.0
dtype: float64

In [14]:
s2 + 5

2    40
2    49
4    58
Name: s2, dtype: int64

## Exercises

In [15]:
# 1.
url = "https://github.com/mattharrison/datasets/raw/master/data/vehicles.csv.zip"
df = pd.read_csv(url, dtype_backend="pyarrow", engine="pyarrow")
city_mpg = df.city08

city_mpg + city_mpg

0        38
1        18
2        46
3        20
4        34
         ..
41139    38
41140    40
41141    36
41142    36
41143    32
Name: city08, Length: 41144, dtype: int64[pyarrow]

In [16]:
# 2.
city_mpg + 10

0        29
1        19
2        33
3        20
4        27
         ..
41139    29
41140    30
41141    28
41142    28
41143    26
Name: city08, Length: 41144, dtype: int64[pyarrow]

In [17]:
# 3.
highway_mpg = df.highway08

city_mpg.add(highway_mpg)

0        44
1        23
2        56
3        22
4        40
         ..
41139    45
41140    48
41141    42
41142    42
41143    37
Length: 41144, dtype: int64[pyarrow]

In [18]:
# 4.
city_mpg.add?

Signature: city_mpg.add(other, level=None, fill_value=None, axis: 'Axis' = 0) -> 'Series'
Docstring:
Return Addition of series and other, element-wise (binary operator `add`).

Equivalent to ``series + other``, but with support to substitute a fill_value for
missing data in either one of the inputs.

Parameters
----------
other : Series or scalar value
level : int or name
    Broadcast across a level, matching Index values on the
    passed MultiIndex level.
fill_value : None or float value, default None (NaN)
    Fill existing missing (NaN) values, and any new element needed for
    successful Series alignment, with this value before computation.
    If data in both corresponding Series locations is missing
    the result of filling (at that location) will be missing.
axis : {0 or 'index'}
    Unused. Parameter needed for compatibility with DataFrame.

Returns
-------
Series
    The result of the operation.

See Also
--------
Series.radd : Reverse of the Addition operator, see
    `Python documentation
    <https://docs.python.org/3/reference/datamodel.html#emulating-numeric-types>`_
    for more details.

Examples
--------
>>> a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
>>> a
a    1.0
b    1.0
c    1.0
d    NaN
dtype: float64
>>> b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])
>>> b
a    1.0
b    NaN
d    1.0
e    NaN
dtype: float64
>>> a.add(b, fill_value=0)
a    2.0
b    1.0
c    1.0
d    1.0
e    NaN
dtype: float64
File:      ~/Documents/proj/effective-pandas-2/pandas-env/lib/python3.13/site-packages/pandas/core/series.py
Type:      method