# Chapter 10

In [1]:
import pandas as pd

url = "https://github.com/mattharrison/datasets/raw/master/data/vehicles.csv.zip"
df = pd.read_csv(url, dtype_backend="pyarrow", engine="pyarrow")

city_mpg = df.city08
highway_mpg = df.highway08

## Exercises

In [2]:
# 1.
print("Original type:", city_mpg.dtype)
city_mpg.astype("int16[pyarrow]").head()

Original type: int64[pyarrow]

0    19
1     9
2    23
3    10
4    17
Name: city08, dtype: int16[pyarrow]

In [3]:
# 2.
print(city_mpg.memory_usage())
print(city_mpg.astype("int16[pyarrow]").memory_usage())

329284
87563

In [4]:
# 3.
import pyarrow as pa
string_pa = pd.ArrowDtype(pa.string())

In [5]:
# 4.
df.make.astype("category")

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: category
Categories (136, string[pyarrow]): [AM General, ASC Incorporated, Acura, Alfa Romeo, ..., Volvo, Wallace Environmental, Yugo, smart]

In [6]:
# 5.
print(df.make.memory_usage(deep=True))
print(df.make.astype("category").memory_usage(deep=True))

425767
88701